/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-font-color);
  line-height: 1.5rem;
}

a {
  display: inline-block;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
} 

section:nth-child(even) {
  background-color: var(--secondary-color);
  color: white;
}

img {
  display: block;
}


/* === Custom props === */

:root {
  --element-spacing: 15px;
  --negative-element-spacing: -15px;
  --body-font-color: #333333;
  --primary-color: #0084fd; /* azzurro */
  --secondary-color: #9792e4; /* viola */
  --card-bg-color: #b5ddff; /* azzurro chiaro */
}


/* === UTILS === */

.btn {
  background-color: yellow;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 20px;
  text-align: center;
  width: 220px;
}

.btn.primary {
  background-color: var(--primary-color);
  font-weight: bold;
}

.btn.secondary {
  background-color: var(--secondary-color);
  font-weight: bold;
  width: 180px;
}


.btn.tertiary {
  background-color: white;
  width: 120px;
  color: black;
}


.text-left {
  text-align: left;
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.white-box {
  padding: 10px;
  background-color: white;
  border-radius: var(--element-spacing);
  color: var(--body-font-color);
}

.big-title {
  font-size: 2rem;
}


/* Regole col-100 */

.col-100 {
  width: 100%;
  text-align: center;
}

.col-100 img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.col-100 h2 {
  margin: 20px 0;
}


/* HEADER */

header {
  background-color: var(--primary-color);
  color: white;
  padding: var(--element-spacing) 0;
}

.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: fit-content;
}

nav li {
  display: inline;
  margin: 0 10px;
}

.fa-solid.fa-bars {
  color: white;
  font-size: 1.5rem;
  display: none;
}

/* MAIN */

section {
  padding: 2rem 0;
}

section#app-presentation {
  padding-bottom: 4rem;
}


/* grid */

.container {
  max-width: 1080px;
  margin: 0 auto;
  /* border-left: 3px dashed red;
  border-right: 3px dashed red; */
  padding-left: var(--element-spacing);
  padding-right: var(--element-spacing);
}

.row {
  margin-left: var(--negative-element-spacing);
  margin-right: var(--negative-element-spacing);
  flex-wrap: wrap;
  height: 100%;
}

.col {
  padding: var(--element-spacing);
  width: calc(100% / 3);
  /* border: 1px solid red; */
}

.fa-solid {
  font-size: 5rem;
  color: var(--primary-color);
}

.fa-brands.fa-apple {
  color: white;
}

/* === APP PRESENTATION === */

#app-presentation .col:first-child {
  width: calc(100% / 3 * 2);
}

#app-presentation .card {
  background-color: var(--card-bg-color);
  height: 100%;
  padding: var(--element-spacing);
  border-radius: var(--element-spacing);
}

#app-presentation .card .row {
  position: relative;
}

#app-presentation .card .row .col.flex-column {
  width: 50%;
}

#app-presentation .card .row .col.flex-column.col-right {
  justify-content: flex-end;
  align-items: center;
}

#app-presentation .card .row .col.flex-column.col-right img {
  position: absolute;
  bottom: var(--negative-element-spacing);
}

/* Questa regola eredita le proprietà di .col-100 */
#app-presentation .card .col.col-100 {
  width: inherit;
}



#app-presentation .card h2 {
  color: var(--primary-color);
}

.demo-application-visual {
  width: 220px;
}

/* === STRATEGIC PLANNING === */

#strategic-planning {
  padding-bottom: 30px;
}

.strategic-planning-col {
  width: 50%;
  height: 520px;
  justify-content: flex-end;
  margin: var(--element-spacing) 0;
}

.strategic-planning-col img {
  width: 350px
}

.strategic-planning-col.right img {
  width: 150px
}

#strategic-planning .white-box {
  max-width: 400px
}


/* === TESTIMONIALS === */

#testimonials .col {
  width: 100%;
}

#testimonials .card {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: var(--element-spacing);
  color: white;
}

#testimonials .card.testimonials-text {
  background-color: white;
  border-radius: 0;
  text-align: center;
  color: var(--body-font-color)
}

#testimonials .card.testimonials-text * {
  padding: 1rem 0;
}

#testimonials .section-title {
  color: var(--secondary-color);
}

#testimonials .card .row .col.testimonial-picture {
  width: calc(100% / 4);
  margin: 0 auto;
}  

#testimonials .card .row .col.testimonial-picture img {
  width: 100%;
}

#testimonials .card .row .col {
  width: calc(100% / 4 * 3);
}

/* === BENEFITS === */

#benefits .card {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  color: var(--body-font-color);
}

.benefits-title {
  text-align: center;
  margin-bottom: 1rem;
}


/* === ABOUT US === */

#about-us .card {
  padding: var(--element-spacing);
  /* border: 2px dashed red; */
  height: 100%;
}

#about-us .col:first-child {
  width: calc(100% / 3 * 2);
}

.about-us-text {
  line-height: 2rem;
}

#about-us .testimonial-picture {
  width: 100%;
}

/* debug */



/* === GET STARTED === */

#get-started {
  text-align: center;
}

#get-started p {
  max-width: 560px;
  margin: 0 auto;
}

#get-started * {
  padding: 0.4rem 0;
}

/* FOOTER */

.footer {
  background-color: var(--body-font-color);
  color: white;
  text-align: center;
  height: 250px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer p {
  width: 400px;
}

a.footer-link:link {
  text-decoration: underline;
  color: var(--secondary-color);
}

a.footer-link:visited {
  text-decoration: underline;
  color: rgb(158, 42, 158);
}



/* TABLET: 768px */

@media screen and (max-width: 768px) {
  
  header,
  section,
  footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }


  header {
    height: 80px;
    display: flex;
    align-items: center;
  }

  .wrapper-header {
    width: 100%;
  }

  nav ul {
    display: none;
  }

  .fa-solid.fa-bars {
    display: block;
  }



  #app-presentation .card .row .col.flex-column {
    width: 100%;
  }

  #app-presentation .card .row .col.flex-column.col-right { 
    display: block;
    padding-top: 0;
  }
 

  #app-presentation .card .row .col.flex-column.col-right img {
    position: relative;
  }
  
  #app-presentation .card {
    padding-bottom: 0;
  }



  #strategic-planning .container {
    display: block;
  }

  .strategic-planning-col {
    width: 100%;
    justify-content: flex-start;
    height: auto;
  }

  .strategic-planning-col img,
  .strategic-planning-col.right img {
    width: 100%;
  }

  #strategic-planning .white-box {
    max-width: 100%;
  }



  #testimonials .card .row .col.testimonial-picture {
    width: calc(100% / 3);
  }  
  
  
  #testimonials .card .row .col {
    width: calc(100% / 3 * 2);
  }


  
  #benefits .col {
    width: calc(100% / 2);
  }

}



/* MOBILE: 480px */

@media screen and (max-width: 480px) {  
 
  .col {
    width: 100%;
  }

  #app-presentation .col:first-child {
    width: 100%;
  }

  #app-presentation .btn.primary,
  #app-presentation .card .row .col.flex-column.col-right img {
    margin-left: auto;
    margin-right: auto;
  }

  #benefits .col {
    width: 100%;
  }


  #testimonials .card .row .col.testimonial-picture {
    width: 230px;
    margin: 0 auto 1rem auto;
    padding: 0;
  } 

  #testimonials .card .row .col {
    width: 100%;
  }

  
  #about-us .col:first-child {
    width: 100%;
  }
  
  #about-us .card {
    padding: 0;
  }

  #about-us .testimonial-picture {
    width: 200px;
  }
}


